.contact-us {
  margin: pxToRem(70) auto;
  background-color: #fefaf0;

  padding: pxToRem(100) 0;
  @media only screen and (max-width: pxToRem(768)) {
    padding: pxToRem(70) 0;
  }

  &__content {
    @include page-padding;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;

    @media only screen and (max-width: pxToRem(1000)) {
      flex-direction: column;
      gap: pxToRem(20);
    }

    &-writeup {
      max-width: pxToRem(450);

      &-titles {
        h2 {
          color: $accent-color;
          font-weight: 700;
          font-size: pxToRem(16);
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;

          @media only screen and (max-width: pxToRem(768)) {
            font-size: pxToRem(12);
          }
        }

        h3 {
          font-weight: 700;
          font-size: pxToRem(45);
          line-height: 125%;
          letter-spacing: 0%;
          display: block;

          @media only screen and (max-width: pxToRem(768)) {
            font-size: pxToRem(28);
            max-width: pxToRem(300);
          }
        }

        p {
          font-weight: 400;
          font-size: pxToRem(16);
          line-height: 125%;
          letter-spacing: 0%;
          margin-top: pxToRem(10);
          max-width: pxToRem(651);
        }
      }
      &-details {
        margin-top: pxToRem(30);
        display: flex;
        flex-direction: column;
        gap: pxToRem(24);
        list-style-type: none;
        padding: 0;

        li {
          font-weight: 900;
          font-size: pxToRem(18);
          line-height: 140%;
          letter-spacing: 0px;
          color: $accent-color;
          display: flex;

          @media only screen and (max-width: pxToRem(768)) {
            font-size: pxToRem(16);
          }

          span {
            color: #000;
            height: fit-content;
            padding-right: pxToRem(3ß);
            white-space: nowrap;
          }
          a {
            text-decoration: none;
            color: $accent-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-form {
      flex: 1;
      max-width: pxToRem(714);
      display: flex;
      flex-direction: column;
      gap: pxToRem(10);

      @media only screen and (min-width: pxToRem(600)) and (max-width: pxToRem(1000)) {
        max-width: pxToRem(450);
      }

      @media only screen and (min-width: pxToRem(1200)) {
        gap: pxToRem(20);
      }

      .form-input {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: pxToRem(12);

        &__row {
          display: flex;
          flex-direction: row;
          gap: pxToRem(46);
          width: 100%;

          @media only screen and (max-width: pxToRem(800)) {
            flex-direction: column;
            gap: pxToRem(15);
          }

          .form-input {
            flex: 1;
          }
        }

        input,
        textarea {
          flex: 1;
          min-height: pxToRem(50);
          max-width: 100%;
          border: none;
          font-size: inherit;
          font-weight: inherit;
          padding: pxToRem(10);
          letter-spacing: inherit;
          background-color: #fff;
          border-radius: pxToRem(10);
          border: pxToRem(0.2) solid #667122;

          outline-style: none;
          resize: none;

          min-width: 100%;
          min-width: 0;
          // remove the arrow on number input
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
          }

          color: inherit;
          transition: border-color 0.3s ease-in-out;
        }
      }

      .form-btn {
        @media only screen and (max-width: pxToRem(1200)) {
          margin-top: pxToRem(20);
        }

        background-color: $accent-color;
        border: none;
        cursor: pointer;
        height: pxToRem(45);
        box-sizing: border-box;
        border-radius: pxToRem(40);
        padding: pxToRem(8) pxToRem(45);
        font-weight: 550;
        font-size: pxToRem(15);
        line-height: pxToRem(30);
        letter-spacing: 0%;
        color: #fff;
      }
    }
  }
}
