.footer {
  background-color: $accent-color;
  padding: pxToRem(50) 0;

  &__content {
    @include page-padding;
    display: flex;
    justify-content: space-between;
    gap: pxToRem(60);

    @media (max-width: pxToRem(1000)) {
      flex-direction: column;
    }

    &-company {
      max-width: pxToRem(420);
      display: flex;
      flex-direction: column;
      gap: pxToRem(12);

      &-logo {
        height: pxToRem(61);
        width: fit-content;
      }

      &-description {
        font-weight: 400;
        font-size: pxToRem(16);
        line-height: 120%;
        letter-spacing: 0%;
        color: #fff;
      }
    }

    &-actions {
      &-title {
        font-weight: 700;
        font-size: pxToRem(20);
        line-height: 100%;
        letter-spacing: 0%;
        color: #fff;
        margin-bottom: pxToRem(16);
      }

      &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-width: pxToRem(521);

        &-item {
          border-bottom: pxToRem(1) solid #fff;
          padding: pxToRem(12) 0;

          &:last-child {
            border-bottom: none;
          }

          span {
            font-weight: 400;
            font-size: pxToRem(16);
            line-height: 135%;
            letter-spacing: 0%;
            color: #fff;
          }
        }
      }
    }

    &-socials {
      display: flex;
      flex-direction: column;
      gap: pxToRem(12);

      &-title {
        font-weight: 700;
        font-size: pxToRem(20);
        line-height: 100%;
        letter-spacing: 0%;
        color: #fff;
        margin-bottom: pxToRem(16);
      }

      &-list {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        gap: pxToRem(24);

        &-item {
          a {
            color: #fff;
            font-size: pxToRem(18);
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
              color: $primary-color;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
